@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

.button-login {
  position: relative;
  left: 50%;
  display: inline-block;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 200px;
  padding: 5px;
  margin-left: -100px;
  background-color: #e5e5e5;
}

.button-login:hover {
  cursor:pointer;
  background-color: #9e9e9e;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border-color: #9e9e9e;
}

.button-login-icon {
  float: left;
  height: 29px;
  padding: 0px 0px 0px 4px;
}


.button-login-text {
  line-height: 29px;
  font-size: 12px;
  font-weight: 500;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color:black;
}



div#login-form {
  display:none;
}